<!--<h3>Join a game</h3>

<hr>

<form action="/join_game" method="post">
  <div>
    <label for="title_box">
      Game Password
    </label>

    <input type="text" id="title_box" name="query_title">
  </div>
  
<div>
  <a href="/join">
      <button>Join</button>
  </a>
</div>

<hr>-->

<h3>Join a Game</h3>

<%= form_with url: join_path, method: :post, local: true do %>
  <div>
    <label for="game_key">Game Key</label>
    <%= text_field_tag :query_key, nil, id: 'game_key' %>
  </div>

  <div>
    <%= submit_tag 'Join Game' %>
  </div>
<% end %>
